# <center>Introduction to Scikit-Learn</center> 
#### http://scikit-learn.org/docs/


### <center>Outcomes</center> :
<ol>

<li >Getting the data ready</li>
<li>Choose the right estimater</li>
<li>Fir the model / algorithm  and use to make presidctions on our data </li>
<li>Evaluating the model</li>
<li>Improving the model</li>
<li>Save and Load the trained model</li>
<li>Putting it all together</li>
</ol>

### <center>1. Getting the data ready</center>

In [1]:
import pandas as pd
import numpy as np
heart_disease=pd.read_csv("./heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
#So target hai ki target predict krenge baakin features se

#Create X: Feature matrix: 

X=heart_disease.drop("target",axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [3]:
#Create Y: Labels:
Y=heart_disease["target"]
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

### <center>2.Choose The right model and <strong>Hyperparameters</strong>:
</center>
<em

>

><strong>Hyperparameters</strong> are like the radio dials that in radio that helps us to fine tunee the signals and get crisp and perfect audio in channel

In [4]:
from sklearn.ensemble import RandomForestClassifier
new_clf=RandomForestClassifier()        #a classification machine learning model

In [5]:
new_clf.get_params()                 #Keep the default Hyperparameters

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

### <center>3. Split and Fit the model into the training algo </center>

In [7]:
from sklearn.model_selection import train_test_split  #for splitting data

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

Now lets see what distribution has been done with this function
***

#### <center>Training Data</center>

In [8]:
print(len(X_train))   #Notice the 212 records without target
X_train

212

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2
243,57,1,0,152,274,0,1,88,1,1.2,1,1,3
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2
93,54,0,1,132,288,1,0,159,1,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,57,1,0,150,276,0,0,112,1,0.6,1,1,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
58,34,1,3,118,182,0,0,174,0,0.0,2,0,2
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1

In [9]:
print(len(Y_train))     #Notice the 212 records only consisting target 
Y_train

212

106    1
65     1
243    0
196    0
93     1
      ..
179    0
7      1
58     1
198    0
282    0
Name: target, Length: 212, dtype: int64

#### <center>Testing Data</center>

In [10]:
print(len(X_test))     #Notice the 91 records without target
X_test

91

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3
154,39,0,2,138,220,0,1,152,0,0.0,1,0,2
230,47,1,2,108,243,0,1,152,0,0.0,2,0,2
86,68,1,2,118,277,0,1,151,0,1.0,2,1,3
152,64,1,3,170,227,0,0,155,0,0.6,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,51,0,2,140,308,0,0,142,0,1.5,2,1,2
209,59,1,0,140,177,0,1,162,1,0.0,2,1,3
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2
210,57,1,2,128,229,0,0,150,0,0.4,1,1,3
158,58,1,1,125,220,0,1,144,0,0.4,1,4,3

In [11]:
print(len(Y_test))     #Notice the 91 records with target only 
Y_test

91

235    0
154    1
230    0
86     1
152    1
      ..
40     1
209    0
74     1
210    0
158    1
Name: target, Length: 91, dtype: int64

#### <center>Fitting the data </center>

In [12]:
new_clf.fit(X_train,Y_train)

RandomForestClassifier()

#### <center>Prediction </center>

In [13]:
#store your predictions into a series
predictions=new_clf.predict(X_test)
predictions

array([0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0], dtype=int64)

## <center  class="alert alert-block alert-info"> 4. Evaluate the Model based on the predictons made from learning data and test data</center>

In [15]:
new_clf.score(X_train,Y_train)

1.0

In [17]:
new_clf.score(X_test,Y_test)

0.7802197802197802

In [18]:
#Other Matrices or methods to evaluate we can use to meaure accuracy 

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [21]:
#Classification_report

print(classification_report(Y_test,predictions))

              precision    recall  f1-score   support

           0       0.80      0.73      0.76        44
           1       0.76      0.83      0.80        47

    accuracy                           0.78        91
   macro avg       0.78      0.78      0.78        91
weighted avg       0.78      0.78      0.78        91

In [24]:
#Confusion matrix

print(confusion_matrix(Y_test, predictions))

[[32 12]
 [ 8 39]]


<br>
<br>
<br>

```- Now we are not happy with the models accuracy ðŸ˜ŸðŸ˜Ÿ```
, so we Gonna 
<strong>Improve our Model</strong>
<br>
<br>
<br>

## <center>5. Improving out model</center>